// main: site.less

@import "colors";

.reconciliation {
  .noselect;

  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
  background-color: @mdc-yellow-100;

  .ticket, .ticket-list, .ticket-details {
    .h {
      width: 100%;
      color: #FFFFFF;
      margin: 0;
      background-color: @mdc-purple-700;
      padding: 10px;
      box-shadow: 0px 2px rgba(0, 0, 0, 0.5);
    }

    .generate-h(5);
    .generate-h(@n, @i: 1) when (@i =< @n) {
      h@{i} {
        .h;
      }
      .generate-h(@n, (@i + 1));
    }
  }

  @ticket-margin: 10px;
  .ticket {
    background-color: #FFFFFF;
    margin: @ticket-margin;
    width: 300px - (2 * @ticket-margin);
    min-height: 300px;
    float: left;
  }

  .ticket-list {
    background-color: @mdc-purple-100;
    width: 200px;
    position: absolute;
    left: 0px;
    top: 0px;
    bottom: 0px;

    // @media screen and (max-width: @mobile-width) {
    //   width: 100%;
    // }

    @name-filter-height: 40px;

    .name-filter {
      width: 100%;
      height: @name-filter-height;
      padding: 10px;
    }

    ul {
      .scroll-vertical;
      position: absolute;
      top: @name-filter-height; bottom: 0;
      left: 0; right: 0;
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        width: 100%;
        min-height: 30px;
        background-color: @mdc-purple-200;
        margin: 0;
        padding: 10px;
        border-bottom: 1px solid @mdc-black-lighter;

        //transition: all 100ms ease-out;
        //transition-property: color, background-color;

        &:hover {
          color: #FFFFFF;
          background-color: @mdc-purple-300;
        }

        &:active, &.active {
          color: #FFFFFF;
          background-color: @mdc-purple-500;
        }
      }
    }

  }

  .ticket-details {
    position: absolute;
    top: 5px; bottom: 5px;
    left: 205px; width: 300px;
    background-color: #FFFFFF;
    margin: 10px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);

    // @media screen and (max-width: @mobile-width) {
    //   width: 100%;
    // }
  }
}
